pipeline/BouwsoftPipelineWorkOrders_copy1.json
{
	"name": "BouwsoftPipelineWorkOrders_copy1",
	"properties": {
		"activities": [
			{
				"name": "Truncate WorkOrders",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Truncate_WorkOrders]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup Parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate WorkOrders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlParameters",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,15)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable Counter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": "@substring(concat('0',item()),-2,2)"
							}
						}
					]
				}
			}
		],
		"variables": {
			"counter": {
				"type": "String",
				"defaultValue": "00"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-13T12:07:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}