pipeline/BouwsoftPipelineProjects.json
{
	"name": "BouwsoftPipelineProjects",
	"properties": {
		"activities": [
			{
				"name": "Copy Projects",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Length": "0",
							"Clientnr": "6080",
							"AccessToken": {
								"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl.{offset}": "RANGE:0:1000:500"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['pnr']"
								},
								"sink": {
									"name": "pnr",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['company_id']"
								},
								"sink": {
									"name": "company_id",
									"type": "Int64"
								}
							}
						],
						"collectionReference": "$['Records']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "RestResourceBouwsoftProjects",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlProjects",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate Projects",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Truncate_Projects]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup Parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Projects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlParameters",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-13T15:00:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}