bouwsoftDataFactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "bouwsoftDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineWorkOrdersTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate WorkOrders",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_WorkOrders]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Truncate WorkOrders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(0,99)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy WorkOrders",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:10:00",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl.{offset}": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"id"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['OrderNr']"
													},
													"sink": {
														"name": "ordernr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ProjectNr']"
													},
													"sink": {
														"name": "projectnr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['WorkDate']"
													},
													"sink": {
														"name": "workdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CustomerName']"
													},
													"sink": {
														"name": "customertname",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CustomerStreet']"
													},
													"sink": {
														"name": "customerstreet",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CustomerZIP']"
													},
													"sink": {
														"name": "customerzip",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CustomerCity']"
													},
													"sink": {
														"name": "customercity",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['WorkDescription']"
													},
													"sink": {
														"name": "workdescription",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CreationDate']"
													},
													"sink": {
														"name": "creationdate",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "[['status']"
													},
													"sink": {
														"name": "status",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['EmployeeNr']"
													},
													"sink": {
														"name": "employee_id",
														"type": "Int64"
													}
												},
												{
													"source": {
														"path": "[['WorkDuration']"
													},
													"sink": {
														"name": "workduration",
														"type": "Int64"
													}
												}
											],
											"collectionReference": "$['response']",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "RestResourceOutsmartWorkOrders",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlWorkOrders",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"counter": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T12:07:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/General')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BouwsoftPipelineParameters",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineParameters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineAddresses",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineParameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineAddresses",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineProjects",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineAddresses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineProjects",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineCompanyDetails",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineProjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineCompanyDetails",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelinePurchaseOrders",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineCompanyDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelinePurchaseOrders",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelinePurchaseInvoices",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelinePurchaseOrders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelinePurchaseInvoices",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineSalesInvoices",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelinePurchaseInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineSalesInvoices",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineActualCostItems",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineSalesInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineActualCostItems",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelinePurchaseInvoiceProjects",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineActualCostItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelinePurchaseInvoiceProjects",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineWorkOrders",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelineEmployees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineWorkOrders",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BouwsoftPipelineEmployees",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BouwsoftPipelinePurchaseInvoiceProjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BouwsoftPipelineEmployees",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T08:41:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/refreshBouwsoftDataWarehouse')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "General",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-04-20T09:54:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/General')]"
			]
		}
	]
}