bouwsoftDataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "bouwsoftDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftActualCostItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "ActualCostItems?columns=id|project_id|actualcost_id|description&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftAddresses')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "Addresses?&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftCompanyDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "CompanyDetails?&columns=id|name"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftProjects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "projects?&columns=id|pnr|name|company_id&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftPurchaseInvoiceProjects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "PurchaseInvoiceProjects?columns=id|purchaseinvoice_id|purchaseinvoice_nr|address_supplier_id|project_id|actualcostitem_id|amount&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftPurchaseInvoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "PurchaseInvoices?filter=date gt '1900-01-01'&columns=id|company_id|date|nr_supplier|address_id|basis1|basis2|basis3|basis4|basis5&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftPurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "PurchaseOrders?columns=id|nr|company_id|project_id|address_id|ledger|billed|approved|delivered|date|basis1|basis2|basis3|basis4|basis5&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceBouwsoftSalesInvoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceBouwsoft",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "SalesInvoices?columns=id|company_id|type_id|nr|date|address_id|project_id|basis1|basis2|basis3|basis4|basis5&limit=500&offset={offset}&sort=id"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceOutsmartEmployees')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceOutsmart",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "employees?token=148af45b01225b21e3576967dd0a42b3&software_token=ac0447ccbba1c0ae31f10d59084a03e3fe3c76a4"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResourceOutsmartWorkOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceOutsmart",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"batch": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('GetWorkorders?key[]=OrderNr&value[]=WB', string(dataset().batch),'%&operator[]=li&key[]=EmployeeNr&value[]=0&operator[]=gt&token=148af45b01225b21e3576967dd0a42b3&software_token=ac0447ccbba1c0ae31f10d59084a03e3fe3c76a4')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineActualCostItems')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate ActualCostItems",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_ActualCostItems]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate ActualCostItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy ActualCostItems",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:100000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['project_id']"
										},
										"sink": {
											"name": "project_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['actualcost_id']"
										},
										"sink": {
											"name": "actualcost_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftActualCostItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlActualCostItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T08:41:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftActualCostItems')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineAddresses')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Addresses",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:2000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['clientnr']"
										},
										"sink": {
											"name": "clientnr",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['suppliernr']"
										},
										"sink": {
											"name": "suppliernr",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address']"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['countrycode']"
										},
										"sink": {
											"name": "countrycode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['zipcode']"
										},
										"sink": {
											"name": "zipcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['city']"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftAddresses",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlAddresses",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Addresses",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_Addresses]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Addresses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T12:07:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftAddresses')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineCompanyDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CompanyDetails",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftCompanyDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlCompanyDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate CompanyDetails",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_CompanyDetails]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate CompanyDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T12:07:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftCompanyDetails')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineEmployees')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Employees",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['number']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['lastname']"
										},
										"sink": {
											"name": "lastname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstname']"
										},
										"sink": {
											"name": "firstname",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['response']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceOutsmartEmployees",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlEmployees",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Employees",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_Employees]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T12:07:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceOutsmartEmployees')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineProjects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Projects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:1000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['pnr']"
										},
										"sink": {
											"name": "pnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['company_id']"
										},
										"sink": {
											"name": "company_id",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftProjects",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlProjects",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Projects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_Projects]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T15:00:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftProjects')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelinePurchaseInvoiceProjects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate PurchaseInvoiceProjects",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_PurchaseInvoiceProjects]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate PurchaseInvoiceProjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy PurchaseInvoiceProjects",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:100000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['purchaseinvoice_id']"
										},
										"sink": {
											"name": "purchaseinvoice_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['purchaseinvoice_nr']"
										},
										"sink": {
											"name": "purchaseinvoice_nr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address_supplier_id']"
										},
										"sink": {
											"name": "address_supplier_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['project_id']"
										},
										"sink": {
											"name": "project_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['actualcostitem_id']"
										},
										"sink": {
											"name": "actualcostitem_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['amount']"
										},
										"sink": {
											"name": "amount",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftPurchaseInvoiceProjects",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlPurchaseInvoiceProjects",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T08:41:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftPurchaseInvoiceProjects')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelinePurchaseInvoices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy PurchaseInvoices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:100000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['company_id']"
										},
										"sink": {
											"name": "company_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['nr_supplier']"
										},
										"sink": {
											"name": "nr_supplier",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address_id']"
										},
										"sink": {
											"name": "address_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['basis1']"
										},
										"sink": {
											"name": "basis1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis2']"
										},
										"sink": {
											"name": "basis2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis3']"
										},
										"sink": {
											"name": "basis3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis4']"
										},
										"sink": {
											"name": "basis4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis5']"
										},
										"sink": {
											"name": "basis5",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftPurchaseInvoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlPurchaseInvoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate PurchaseInvoices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_PurchaseInvoices]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate PurchaseInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T08:41:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftPurchaseInvoices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelinePurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy PurchaseOrders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:100000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['nr']"
										},
										"sink": {
											"name": "nr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['company_id']"
										},
										"sink": {
											"name": "company_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['project_id']"
										},
										"sink": {
											"name": "project_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['address_id']"
										},
										"sink": {
											"name": "address_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['ledger']"
										},
										"sink": {
											"name": "ledger",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['billed']"
										},
										"sink": {
											"name": "billed",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['approved']"
										},
										"sink": {
											"name": "approved",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['delivered']"
										},
										"sink": {
											"name": "delivered",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['date']"
										},
										"sink": {
											"name": "date"
										}
									},
									{
										"source": {
											"path": "[['basis1']"
										},
										"sink": {
											"name": "basis1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis2']"
										},
										"sink": {
											"name": "basis2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis3']"
										},
										"sink": {
											"name": "basis3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis4']"
										},
										"sink": {
											"name": "basis4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis5']"
										},
										"sink": {
											"name": "basis5",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftPurchaseOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlPurchaseOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate PurchaseOrders",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_PurchaseOrders]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate PurchaseOrders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T08:41:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftPurchaseOrders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineSalesInvoices')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate SalesInvoices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_SalesInvoices]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate SalesInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy SalesInvoices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Content-Length": "0",
									"Clientnr": "6080",
									"AccessToken": {
										"value": "@activity('Lookup Parameters').output.firstRow.AccessToken",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:100000:500"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['company_id']"
										},
										"sink": {
											"name": "company_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['type_id']"
										},
										"sink": {
											"name": "type_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['nr']"
										},
										"sink": {
											"name": "nr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['address_id']"
										},
										"sink": {
											"name": "address_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['project_id']"
										},
										"sink": {
											"name": "project_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['basis1']"
										},
										"sink": {
											"name": "basis1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis2']"
										},
										"sink": {
											"name": "basis2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis3']"
										},
										"sink": {
											"name": "basis3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis4']"
										},
										"sink": {
											"name": "basis4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['basis5']"
										},
										"sink": {
											"name": "basis5",
											"type": "Decimal"
										}
									}
								],
								"collectionReference": "$['Records']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceBouwsoftSalesInvoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlSalesInvoices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T08:41:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceBouwsoftSalesInvoices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BouwsoftPipelineWorkOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy WorkOrders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:10:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl.{offset}": "RANGE:0:9:1"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['OrderNr']"
										},
										"sink": {
											"name": "ordernr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProjectNr']"
										},
										"sink": {
											"name": "projectnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['WorkDate']"
										},
										"sink": {
											"name": "workdate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CustomerName']"
										},
										"sink": {
											"name": "customertname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CustomerStreet']"
										},
										"sink": {
											"name": "customerstreet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CustomerZIP']"
										},
										"sink": {
											"name": "customerzip",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CustomerCity']"
										},
										"sink": {
											"name": "customercity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['WorkDescription']"
										},
										"sink": {
											"name": "workdescription",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CreationDate']"
										},
										"sink": {
											"name": "creationdate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EmployeeNr']"
										},
										"sink": {
											"name": "employee_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['WorkDuration']"
										},
										"sink": {
											"name": "workduration",
											"type": "Int64"
										}
									}
								],
								"collectionReference": "$['response']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceOutsmartWorkOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlWorkOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate WorkOrders",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Truncate_WorkOrders]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate WorkOrders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlParameters",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T12:07:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResourceOutsmartWorkOrders')]"
			]
		}
	]
}